<div class="container">
  <div class="row">
    <div class="caja semaforo">
      <ul class="semaforo-vehiculos">
        <li class="rojo" [class.on]="esColorSemaforo('vehiculos', 'rojo')"></li>
        <li class="amarillo" [class.on]="esColorSemaforo('vehiculos', 'amarillo')"></li>
        <li class="verde" [class.on]="esColorSemaforo('vehiculos', 'verde')"></li>
      </ul>
    </div>
    <div class="caja">
      <h2>Vehículos:</h2>
      <p>{{semaforos.vehiculos.texto}}</p>
    </div>
  </div>
  <div class="row">
    <button *ngIf="!semaforosFuncionando" (click)="toggleSemaforo()">Iniciar semáforo</button>
    <button *ngIf="semaforosFuncionando" (click)="toggleSemaforo()">Pausar semáforo</button>
  </div>
  <div class="row">
    <div class="caja semaforo">
      <ul class="semaforo-peatones">
        <li class="rojo" [class.on]="esColorSemaforo('peatones', 'rojo')">
          <img src="assets/img/stop.svg">
        </li>
        <li class="verde" [class.on]="esColorSemaforo('peatones', 'verde')">
          <img src="assets/img/walk.png">
        </li>
      </ul>
    </div>
    <div class="caja">
      <h2>Peatones:</h2>
      <p>{{semaforos.peatones.texto}}</p>
    </div>
  </div>
</div>
